form {
    width: 100%;
}

form label{
    width: 100% !important;
}

.text-valign {
    vertical-align: middle !important;
}

.post-box {
    position: relative !important;
}

.post-option {
    position: absolute !important;
    top:10px;
    right:10px;
}

.posts-container{
    scrollbar-width: thin !important;
    height:  100vh;
    overflow-y: 
    scroll;overflow-x:hidden
}

.post-time{
    font-family: tahoma;
    font-size: 10px;
    color: gray;
    padding-top: 0px;
    padding-bottom: 0px;
}

.user-card{
    border-radius: 10px !important;
}

.user-image {
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray !important;
    border-radius: 800px;
    z-index: 0;
}

.user-name { 
    font-weight: bold;
}
.user-position {
    font-size: 12px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-card{
    position: relative;
}

.user-option-button {
    position:absolute;
    top: 10px;
    right: 10px;
    color: #c4c4c4;
}

body{
    height: 100vh;
}

.content {
    height: 100%;
}